asgiref
certifi
cloudinary
crispy-bootstrap5
django
django-crispy-forms
six
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
django-storages
django-allauth
Pillow
django-cloudinary-storage
channels[daphne]
channels-redis
psycopg2-binary
fastapi
uvicorn